{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 px-4 py-5">
    <div class="auth-form col-md-4 col-sm-10 shadow-lg">
        <div class="text-center">
            <h3 class="heading-text">{{ heading }}</h3>
        </div>
        <hr>
        <div class="form-group pb-3">
            {{ render_form(form) }}
        </div>
        
        <div class="text-center mb-3">
            <p>OR</p>
        <a href="{{ url_for('main.google_login') }}"
        class="btn google-btn btn-outline-secondary d-flex align-items-center">
        <!-- Inline Google “G” logo SVG -->
            <svg width="20" height="20" viewBox="0 0 533.5 544.3" class="me-2" aria-hidden="true">
                <path fill="#4285f4"
                d="M533.5 278.4c0-17.7-1.6-35-4.7-51.9H272v98.2h146.9c-6.3
                    34-25 62.8-53.5 82.1v68.3h86.3c50.4-46.5
                    79.8-115 79.8-196.7z"/>
                <path fill="#34a853"
                d="M272 544.3c72.8 0 134-24.1
                    178.6-65.5l-86.3-68.3c-24
                    16-54.8 25.4-92.3 25.4-70.8
                    0-130.8-47.8-152.3-112.3H31.6v70.4C75.9
                    485.9 167.8 544.3 272 544.3z"/>
                <path fill="#fbbc05"
                d="M119.7 323.6c-5.7-16.5-9-34.1-9-52.1s3.2-35.6
                    9-52.1V148.9H31.6c-18.7 37.6-31.6
                    80-31.6 124.5s12.9 86.9 31.6
                    124.5l88.1-68.3z"/>
                <path fill="#ea4335"
                d="M272 109.7c39.6 0 75.2 13.6
                    103.3 40.2l77.5-77.5C407
                    24.1 345.9 0 272 0 167.8
                    0 75.9 58.4 31.6 148.9l88.1
                    70.4C141.2 157.5 201.2
                    109.7 272 109.7z"/>
            </svg>
        Sign in with Google
        </a>

        </div>
        
        <hr>
        <p class="text-center">New User? <a href="{{ url_for('main.register') }}">Click to Register!</a></p>
    </div>
</div>

{% endblock %}